{% extends 'base.html' %}

{% block title %}
{{ order.title }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Комментарий к заказу {{ order.id }}</h1>

    <div class="alert alert-info">
        <p>{{ order.text }}</p>
        <p><b>Дата: {{ order.date.date() }}</b></p>
        
        <form action="{{ url_for('post_delete', id=order.id) }}" method="POST" style="display: inline;">
        <input type="submit" value="Удалить" class="btn btn-danger" />
        </form>

        <a href="{{ url_for('post_update', id=order.id) }}" class="btn btn-success">Редактировать</a>
    </div>

</div>
{% endblock %}
